* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}
window#waybar {
  background: #1e1512;
  color: #e0c2a8;
  border-bottom: 2px solid #4a3728;
}
#workspaces button {
  padding: 0 3px;
  color: #4a3728;
  background: transparent;
}
#workspaces button.active { color: #ff9e64; }
#workspaces button.urgent { color: #f7768e; }
#window, #clock, #tray, #network, #pulseaudio, #cpu, #memory, #battery, #custom-power, #custom-bluelight {
  padding: 0 3px;
}
#custom-power { color: #f7768e; }
#custom-power:hover { background: #33241c; color: #ffb37a; }
#custom-bluelight.active { color: #ffb37a; }
#custom-bluelight.inactive { color: #6b4f3a; }
#custom-bluelight:hover { background: #33241c; }
#clock { color: #ff9e64; font-weight: bold; }
#network { color: #e0af68; }
#pulseaudio { color: #dba463; }
#cpu { color: #e8935c; }
#memory { color: #e0af68; }
#battery.warning { color: #e0af68; }
#battery.critical { color: #f7768e; }
